/* GLOBAL */
*{
    box-sizing: border-box;
}
*:focus{
    outline: 3px dotted #DE2E54;
    outline-offset: 3px;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Arial',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #444;
}

/*CONTAINER*/
.container{
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

/*HEADER*/
.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*LOGO*/
.site-logo-link{
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-family: "Open Sans", Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.site-logo-link:hover{
    color: #DE2E54;
}
.site-logo-link:active{
    opacity: .6;

}
.site-logo-img{
    margin-right: 16px;
    border-radius: 50%;
}
.site-footer-logo-link{
    color: #fff;
}
.site-footer-logo-link:hover{
    color: #fff;
}

/*SITENAV*/
.sitenav{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sitenav-list{
    display: flex;
    list-style: none;
}

.sitenav-item:not(:last-child){
    margin-right: 32px;
}

.sitenav-item{
    color: #222;
    text-decoration: none;
}
.sitenav-item-link{
    color: #222;
    text-decoration: none;
}
.sitenav-item-link:hover{
    color: #de2e54;
}
.sitenav-item-link:active{
    opacity: .6;
}
.enrollment-link{
    display: inline-block;
    background-color: #de2e54;
    border: 2px solid #de2e54;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    transition: .3s ease color,
    .3s ease background-color,
    .3s ease opacity;
}

.enrollment-link:hover{
    background-color: #fff;
    color: #000;
}
.enrollment-link:active{
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}

/* HERO SECTION */
.hero{
    background-color: #0EB4C1;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content{
    padding-top: 120px;
    padding-bottom: 120px;
    width: 500px;
    margin-right: 176px;
}
.hero-heading{
    color: #fff;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 16px;
}
.hero-text{
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 48px;
}
.hero-img{
    align-self: flex-end;
}
.enrollment-solid{
    border: 0;
}
.enrollment-solid:hover{
    background-color: #de2e54;
    color: #fff;
    opacity: 0.8;
} 
.enrollment-solid:active{
    opacity: 0.6;
}

/* INDEX SERVICES */
.index-services{
    padding-top: 120px;
    padding-bottom: 120px;
}
.index-services-heading{
    color: #000;
    text-align: center;
    font-family:  "Open Sans Condensed", "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 56px;
}

.index-services-list{
    width: 864px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}

.index-service{
    display: flex;
    justify-content: center;
}

.index-services-item{
    margin-top: 0;
    padding: 0;
    margin-bottom: 80px;
}
.index-services-item:last-child{
    margin-bottom: 0;
}
.index-service-img{
    margin-right: 64px;
}
.index-service-title{
    color: #222;
    font-family:  "Open Sans Condensed", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 24px;
}
.index-service-description{
    font-family:  "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    Letter-spacing: 0px;
    color: #444;
    margin-top: 0;
    margin-bottom: 38px;
}
.index-service-action{
    display: flex;
    justify-content: center;
}

/* CTA SECTION */
.index-cta{
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;
    color: #fff;
}

.index-cta-heading{
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.index-cta-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 64px;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-weight: 700;
}
.index-cta-contact{
    color: #fff;
    border: 2px solid #fff;
    background-color: #0eb4c1;
    
}
.index-cta-contact:hover{
    color: #fff;
    border: 2px solid #de2e54;
    background-color: #de2e54;
}
.index-cta-contact:active{
    opacity: 0.6;
}
/* SITE fOOTER*/
.site-footer{
    background-color: #222;
    padding: 24px;
}
.site-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sitenav-footer-sitenav-link .sitenav-item-link{
    color: #fff;
    text-decoration: none;
}
.sitenav-footer-sitenav-link .sitenav-item-link:hover{
    color: #de2e54;
}
.sitenav-footer-sitenav-link .sitenav-item-link:active{
    color: #fff;
    opacity: 0.6;
}
