/* GLOBAL */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Arial',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    color: #444;
}

/*CONTAINER*/
.container{
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

p{
    font-family: "Open Sans Condensed"; 
    font-weight: 700;
    color: white;
    background-color: black;
}